<tr>
  <td><%= status_label batch.status %></td>
  <td><%= link_to(batch.job_id, url_for(batch)) %></td>
  <td><%= batch.submitter %></td>
  <td><%= batch.original_filename %></td>
  <td><%= batch.created_at.localtime %></td>
</tr>
