<nav id="top-nav" aria-label="main navigation menu">
	<div class="contain-1120">
		<ul>
			<li <%= 'class=active' if current_page?(hyrax.root_path) %>>
        <%= link_to t(:'hyrax.controls.home'), hyrax.root_path %></li>
      <li <%= 'class=active' if current_page?(hyrax.about_path) %>>
        <%= link_to t(:'hyrax.controls.about'), hyrax.about_path %></li>
      <li <%= 'class=active' if current_page?(hyrax.help_path) %>>
        <%= link_to t(:'hyrax.controls.help'), hyrax.help_path %></li>
      <li <%= 'class=active' if current_page?(hyrax.contact_path) %>>
        <%= link_to t(:'hyrax.controls.contact'), hyrax.contact_path %></li>
      </ul><!-- /.nav -->
	</div>
</nav>
